---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/me/getchildorders?count=100&product_code=FX_BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - SA95gGKwXZuvZ1hoxRKfBL
      Access-Timestamp:
      - '1523199810'
      Access-Sign:
      - ea9b8195e5a5650b9e02fda6d3a00ebb5b131f1cd8bc2e5a7d577de068b28da7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"child_order_id":"JFX20180408-150232-107001F","product_code":"FX_BTC_JPY","side":"BUY","child_order_type":"LIMIT","price":500000.0,"average_price":0.0,"size":0.01,"child_order_state":"ACTIVE","expire_date":"2018-05-08T15:02:28","child_order_date":"2018-04-08T15:02:28","child_order_acceptance_id":"JRF20180408-150228-703175","outstanding_size":0.01,"cancel_size":0.0,"executed_size":0.0,"total_commission":0.0},{"id":293408805,"child_order_id":"JFX20180408-145212-975024F","product_code":"FX_BTC_JPY","side":"SELL","child_order_type":"MARKET","price":0.000000000000,"average_price":763900.000000000000,"size":0.010000000000,"child_order_state":"COMPLETED","expire_date":"2018-05-08T14:52:09","child_order_date":"2018-04-08T14:52:09","child_order_acceptance_id":"JRF20180408-235207-487899","outstanding_size":0.000000000000,"cancel_size":0.000000000000,"executed_size":0.010000000000,"total_commission":0.00[...]
