---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/ticker?product_code=FX_BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"product_code":"FX_BTC_JPY","timestamp":"2018-04-08T09:47:49.923","tick_id":3854403,"best_bid":750636.0,"best_ask":750735.0,"best_bid_size":0.001,"best_ask_size":3.49364888,"total_bid_depth":10332.10808281,"total_ask_depth":12955.13641605,"ltp":750735.0,"volume":156128.01428307,"volume_by_product":145914.71263327}'
  recorded_at: Sun, 08 Apr 2018 09:47:50 GMT
recorded_with: VCR 3.0.3
