---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/me/getpositions?product_code=FX_BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - SA95gGKwXZuvZ1hoxRKfBL
      Access-Timestamp:
      - '1523248021'
      Access-Sign:
      - 91c453931c2f125b410f82fb85c2d57d6f06691ec8f974418eb59d88576fdbd4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"product_code":"FX_BTC_JPY","side":"BUY","price":780133.000000000000,"size":0.010000000000,"commission":0.000000000000,"swap_point_accumulate":0.0,"require_collateral":520.08866666666666666666666667,"open_date":"2018-04-09T04:26:37.87","leverage":15.000000000000,"pnl":10.750000000000000000000000,"sfd":0.000000000000}]'
  recorded_at: Mon, 09 Apr 2018 04:27:01 GMT
recorded_with: VCR 4.0.0
