---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/executions?count=100&product_code=FX_BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":197719793,"side":"BUY","price":750735.0,"size":0.1,"exec_date":"2018-04-08T09:47:49.36","buy_child_order_acceptance_id":"JRF20180408-094730-786359","sell_child_order_acceptance_id":"JRF20180408-184746-272385"},{"id":197719792,"side":"BUY","price":750735.0,"size":0.001,"exec_date":"2018-04-08T09:47:48.893","buy_child_order_acceptance_id":"JRF20180408-094730-822763","sell_child_order_acceptance_id":"JRF20180408-184746-272385"},{"id":197719791,"side":"BUY","price":750735.0,"size":0.001,"exec_date":"2018-04-08T09:47:48.86","buy_child_order_acceptance_id":"JRF20180408-094648-821609","sell_child_order_acceptance_id":"JRF20180408-184746-272385"},{"id":197719790,"side":"BUY","pric[...]
