---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/me/getparentorder?parent_order_id=JCP20180409-034250-245215
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - SA95gGKwXZuvZ1hoxRKfBL
      Access-Timestamp:
      - '1523245663'
      Access-Sign:
      - 60b62cc871dd06383a5e185ca51fab0a082c897a3bb0c0e44fa692ceab24db07
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":32486273,"parent_order_id":"JCP20180409-034250-245215","order_method":"IFD","expire_date":"2018-05-09T03:42:49.44","time_in_force":"GTC","parameters":[{"product_code":"FX_BTC_JPY","condition_type":"LIMIT","side":"BUY","size":0.010000000000,"price":700000.000000000000,"trigger_price":0.000000000000,"offset":0.000000000000},{"product_code":"FX_BTC_JPY","condition_type":"LIMIT","side":"SELL","size":0.010000000000,"price":850000.000000000000,"trigger_price":0.000000000000,"offset":0.000000000000}],"parent_order_acceptance_id":"JRF20180409-124247-591695"}'
  recorded_at: Mon, 09 Apr 2018 03:47:43 GMT
recorded_with: VCR 4.0.0
