---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/board?product_code=FX_BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"mid_price":750685.0,"bids":[{"price":750636.0,"size":0.001},{"price":750601.0,"size":1.5971},{"price":750600.0,"size":0.05},{"price":750596.0,"size":0.501},{"price":750587.0,"size":0.470623},{"price":750586.0,"size":2.001},{"price":750585.0,"size":0.3566},{"price":750577.0,"size":0.185},{"price":750534.0,"size":0.3566},{"price":750522.0,"size":0.4841},{"price":750506.0,"size":0.1},{"price":750500.0,"size":1.0},{"price":750494.0,"size":0.07048},{"price":750483.0,"size":0.3566},{"price":750456.0,"size":0.05},{"price":750454.0,"size":0.15},{"price":7[...]
