---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/me/getparentorders?count=100&parent_order_state=ACTIVE&product_code=FX_BTC_JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - SA95gGKwXZuvZ1hoxRKfBL
      Access-Timestamp:
      - '1523245502'
      Access-Sign:
      - 8f49b71290c9a1b39c40b6a8a8f2846771fb6b435f7fc8e1a7e94922536a85e1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":32486273,"parent_order_id":"JCP20180409-034250-245215","product_code":"FX_BTC_JPY","side":"BUYSELL","parent_order_type":"IFD","price":700000.000000000000,"average_price":0.000000000000,"size":0.020000000000,"parent_order_state":"ACTIVE","expire_date":"2018-05-09T03:42:49.44","parent_order_date":"2018-04-09T03:42:49.44","parent_order_acceptance_id":"JRF20180409-124247-591695","outstanding_size":0.020000000000,"cancel_size":0.000000000000,"executed_size":0.000000000000,"total_commission":0.000000000000}]'
  recorded_at: Mon, 09 Apr 2018 03:45:02 GMT
recorded_with: VCR 4.0.0
