---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/me/getcollateralhistory?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - SA95gGKwXZuvZ1hoxRKfBL
      Access-Timestamp:
      - '1523244536'
      Access-Sign:
      - 3e9309af837d135d2d39a58f3c739a6974cd556cf00a27ab05734d41c427c2ce
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":896,"currency_code":"JPY","change":25.000000000000,"amount":100004.000000000000,"reason_code":"CLEARING_COLL","date":"2018-04-09T03:27:38.433"}]'
  recorded_at: Mon, 09 Apr 2018 03:28:56 GMT
recorded_with: VCR 4.0.0
