---
http_interactions:
- request:
    method: get
    uri: https://api.bitflyer.jp/v1/me/getcollateral
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - SA95gGKwXZuvZ1hoxRKfBL
      Access-Timestamp:
      - '1523192556'
      Access-Sign:
      - 6e5812b382a792e488532c90637c3420d0cad241fd6f3a38c98cd8776b91a559
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"collateral":0.000000000000,"open_position_pnl":0.0,"require_collateral":0.0,"keep_rate":0.0}'
  recorded_at: Sun, 08 Apr 2018 13:02:36 GMT
recorded_with: VCR 4.0.0
